.navBarContainer {
    background-repeat: no-repeat;
    background-position: center;

}

.navBarContainerMobile {
    width: 100%;
    height: 25%;
    background-size: 100%;
    background-image: url('../assets/images/bg-sidebar-mobile.svg');
    position: absolute;
    top: 0;
}

.navBarContainerDesktop {
    min-width: 200px;
    height: 100%;
    background-image: url('../assets/images/bg-sidebar-desktop.svg');
    background-size: cover;

}

.navBar {
    top:12.5%;
    translate: 0px -50%;
}

.active .navCircle {
    background-color: var(--lightBlue);
    color: var(--marineBlue);
}