.mainContainer {
    min-height: 400px;
}

span {
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50px;
    height: 50px;
    border-radius: 50%;

}

.arcade {
    background-image: url('./assets/images/icon-arcade.svg');
}

.advanced {
    background-image: url('./assets/images/icon-advanced.svg');
}

.pro {
    background-image: url('./assets/images/icon-pro.svg');
}

.thankIcon {
    background-image: url('./assets/images//icon-thank-you.svg');
    width: 75px;
    height: 75px;
    animation-name: thankIconAnimation;
    animation-duration: 400ms;
}

@keyframes thankIconAnimation {

    0%{width: 25px;height: 25px;opacity: 0%;}
    50%{width:85px;height: 85px;}
    100%{width:75px;height:75px;opacity: 100%;}
    
}

.switch{
    background-color: var(--marineBlue);
}

.switch:hover {
    background-color: var(--purplishBlue);
}

input[type="checkbox"] {
    height: 18px;
    width: 18px;
    cursor: pointer;
}


@media screen and (min-width: 640px) {
    span {
        width: 35px;
        height: 35px;
    }
}