@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

:root {

  --mainFont:'Ubuntu', sans-serif;

  --marineBlue: hsl(213, 96%, 18%);
  --purplishBlue: hsl(243, 100%, 62%);
  --pastelBlue: hsl(228, 100%, 84%);
  --lightBlue: hsl(206, 94%, 87%);
  --strawberryRed: hsl(354, 84%, 57%);

  --coolGray: hsl(231, 11%, 63%);
  --lightGray: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(231, 100%, 99%);
  --white: hsl(0, 0%, 100%);

}

#root {
  background-color: var(--lightBlue);
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  font-family: var(--mainFont);
}